.campo
{
    display: none;
}

@media screen and (orientation: landscape) 
{
    .campo
    {
        display: grid;
    }

    .campo--desativado
    {
        display: none;
    }

    .lacuna
    {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        background-image: url('../images/grama.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        transition: background-image 150ms;
    }

    .lacuna img
    {
        width: 20px;
        height: 20px;
    }
    
    .lacuna--aberta
    {
        background-image: url('../images/terra.jpg');
        color: #4a8a00;
        font-weight: 800;
        font-size: 1.2em;
    }
}